/* MENU */
.menuPrincipal{
  background-color: #1d1d1d;
  text-align:center;
}
.menuSecundario{
  background-color: #2abf9a;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menuPrincipal_tagA{
  color:black;
  font-family: arial;
  font-size: 17px;
  text-decoration: none;
}
.menuPrincipal_tagA:hover{
  color:white;
  font-family: arial;
  font-size: 17px;
  text-decoration: none;
}
.menuTerciario{
  color:white;
  font-family: arial;
  font-size: 17px;
  text-decoration: none;
  background-color:gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.titulo{
  color:#2bc09a;
  font-weight:bold;
  font-family: arial;
  font-size: 19px;
  margin-top: 25px;
}
.titulo2{
  color:#2bc09a;
  font-weight:bold;
  font-family: arial;
  font-size: 24px;
}
.titulo_card{
  width:100%; font-family: 'Oswald', sans-serif;
  font-size: 22px;
}
.subtitulo_card{
  font-family: arial;
  color:#2bc09a;
  text-align:justify;
  font-weight: bold;
  margin-right: 5px;
}
.detalhe_card{
  width:100%; font-family: arial;
  text-align:justify;
}

.paragrafo{
  color:#848484;
  font-family: arial;
  font-size: 17px;
}
.paragrafo_tipo2{
  text-align: justify;;
}
/*x MENU x*/

/* CARD PROJETO */
.styleCardWeb{
  display:block;
}
.styleCardMobile{
  display:none;
}
@media screen and (max-width: 992px){
  .styleCardWeb{
    display:none;
  }
  .styleCardMobile{
    display:block;
  }
}
/* x CARD PROJETO x */

/* CARD - PESSOA */
.imagemCards{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: relative;
}
.imagemCards2{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
}
.cardPessoa{
  background-color:white;
  margin:0.5rem;
  border: 2.5px solid #f2f2f2;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
}
.cardPessoa:hover{
  background-color:white;
  margin:0.5rem;
  border: 2.5px solid #2bc09a;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
}
.cardPessoaNome{
  font-family: arial;
  font-weight: bold;
}
.cardPessoaArea{
  font-family: arial;
}

.styleCardProjecto{
  border-radius: 15px; background-color:white; margin-left:-10px;margin-right:-10px; margin-bottom:20px; border: 2.5px solid #f2f2f2;-webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.4);
}
.styleCardProjecto:hover{
  border-radius: 15px; background-color:white; margin-left:-10px;margin-right:-10px; margin-bottom:20px;border: 2.5px solid #2bc09a;
}

/*x CARD - PESSOA x*/

/* RODAPE */
.rodape{
  background-color:#1d1d1d;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* x RODAPE x */

/* PAGINA INICIAL */
.titulo_projeto{
  font-family: arial;
  font-size: 19px;
  font-weight:bold;
}

/*x PAGINA INICIAL x*/

/* PAGINA PROJETO */

/*x PAGINA PROJETO x*/
